:root{
    --main-color:#b56b45;
    --secondary-color:#adc698;
    --tertiary-color:#d0e3c4;
    --extra-color:#623cea;
    --main-font: "DM Sans", sans-serif;
    --secondary-font:"EB Garamond", serif;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

header{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ),
    url(../media/hero-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1200px;
    margin: 0 auto;
    padding: 140px 0;
    text-align: center;
    color: white;
}

header h1{
    font-family: var(--main-font);
    font-size: 100px;
    line-height: 1.5;
    letter-spacing: 5px;
    font-weight: 900;
    margin: 0;
}

header h3{
    font-family: var(--main-font);
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.5;
    font-size: 24px;
}


header a{
    text-decoration: none;
    background-color: white;
    color: black;
    font-size: 18px;
    font-weight: 400;
    font-family: var(--main-font);
    padding: 16px 32px;
    letter-spacing: 3px;
    display: inline-block;
    margin-top: 30px;
}

main h2, h3{
    margin: 0;
    line-height: 1.5;
    font-family: var(--main-font);
}

main h3{
    opacity: 0.5;
}

main p{
    font-family: var(--secondary-font);
}



footer{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url(../media/footer-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
}

footer h2{
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 18px;
}

footer h4{
    font-family: var(--secondary-font);
    font-weight: 100;
    font-size: 14px;
    line-height: 1.5;
    opacity: 0.9;
}

footer p{
    text-align: center;
    font-size: 12px;
    font-family: var(--main-font);
    opacity: 0.8;
}

footer p a{
    text-decoration: none;
    color: var(--main-color);
}

.grid{
    display: grid;
    padding: 60px;
    grid-gap: 84px;
}

.grid-2-cols{
    grid-template-columns: 1fr 1fr;
}

.grid-3-cols-uneven{
    grid-template-columns: 1fr 2fr 2fr;
}


@media (max-width: 900px){
header h1{
    font-size: 50px;
}
header h3{
    font-size: 16px;
    font-weight: 300;
}

header a{
    font-size: 12px;
    
}

}