:root{
    --main-color:#b56b45;
    --secondary-color:#adc698;
    --tertiary-color:#d0e3c4;
    --extra-color:#623cea;
    --main-font: "DM Sans", sans-serif;
    --secondary-font:"EB Garamond", serif;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

header{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ),
    url(../media/hero-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    margin: 0 auto;
    padding: 140px 0;
    text-align: center;
    color: white;
}

header h1{
    font-family: var(--main-font);
    font-size: 100px;
    line-height: 1.5;
    letter-spacing: 5px;
    font-weight: 900;
    margin: 0;
}

header h3{
    font-family: var(--main-font);
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.5;
    font-size: 24px;
}


.btn {
    text-decoration: none;
    background-color: white;
    color: black;
    font-size: 18px;
    font-weight: 400;
    font-family: var(--main-font);
    padding: 16px 32px;
    letter-spacing: 3px;
    display: inline-block;
    margin-top: 30px;
}

.btn-inverse{
    background-color: black;
    color: white;
    font-size: 14px;
    margin: 0;
    display: block;
    text-align: center;
}

h2, h3, h5{
    margin: 0;
    line-height: 1.5;
    font-family: var(--main-font);
}

.img-responsive, .img-gallery{
    width: 100%;
}

.img-gallery{
    height: 100%;
}

main h3, .card-h3{
    opacity: 0.35;
    line-height: 1.5;
}

p{
    font-family: var(--secondary-font);
}

.locations-bcn{
    background-color: var(--tertiary-color);
}

.card{
    background-color: white;
    padding: 25px;
}


.card-info-header{
    text-align: center;
    padding-top: 20px;
}

.card-h3 {
    margin-top: 20px;
}

.embed{
    width: 100%;
    aspect-ratio: 1/1;
}

footer{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url(../media/footer-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    margin: 0 auto;
    color: white;
}

footer h2{
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
}

footer h4{
    font-family: var(--secondary-font);
    font-weight: 100;
    font-size: 14px;
    line-height: 1.5;
    opacity: 0.8;
}

footer p{
    text-align: center;
    font-size: 12px;
    opacity: 0.8;
    padding: 10px;
}

footer p a{
    text-decoration: none;
    color: var(--tertiary-color);
}

footer a{
    text-decoration: none;
    color: white;
}

.grid{
    display: grid;
    padding: 60px 140px;
    grid-gap: 84px;
}

.grid-2-cols{
    grid-template-columns: 1fr 1fr;
}

.grid-3-cols-uneven{
    grid-template-columns: 1fr 2fr 2fr;
}

.grid-3-cols-even{
    grid-template-columns: 1fr 1fr 1fr;
}

.gallery-grid{
    grid-gap: 10px;
    padding: 60px 120px;
    grid-template-rows: 1fr 1fr;
}

.header-card.grid{
    grid-gap: 0;
    padding: 0
}

.fill{
    object-fit: fill;
    width: 100%;
    height: 100%;
}


@media (max-width: 1080px){

    .grid-3-cols-even{
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .gallery-grid{
        grid-template-columns: 1fr 1fr;
    }

    .img-gallery{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    main section.grid{
        padding: 30px 50px;
    }

  
}

@media (max-width: 900px){
header h1{
    font-size: 50px;
}
header h3{
    font-size: 16px;
    font-weight: 300;
}

header a{
    font-size: 12px;
    
}

.grid{
    grid-gap:42px;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 30px;
}

.img-responsive{
    max-width: 80%;
}

.grid-2-cols{
    padding: 30px 80px;
}

.header-card img{
    display: none;
}

}

@media (max-width: 450px){
.body{
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.img-gallery{
    max-width: 100%;
}

main img{
    display: none;
}
}